= content_for :title do
  Вы уже сделали это действие
.columns-container
  #columns.container
    %h2.page-heading
      %span.page-heading-title2 Статус заказа
    .page-content.checkout-page
      .row
        .col-md-12
          .alert.alert-danger
            Вы уже сделали это действие.