.columns-container
  #columns.container
    %h2.page-heading
      %span.page-heading-title2 Оптовые закупки
    .page-content.wholesale-page
      .panel.panel-info
        .panel-heading
          %h2 Футболки оптом
        .panel-body
          %p Футболки оптом продаються ростовками.
          %p В 1 ростовке - 4 футболки одной расцветки(размеры - M, L, XL, XXL)
          %p Стоимость такой ростовки будет зависеть от общего количества заказанных ростовок. Чем больше заказ, тем больше скидка - вплоть до 70%.
          %br
          .well
            %p Если Вас интересуют оптовые цены, свяжитесь с нами:
            %p
              тел.
              = link_to "+38 (096) 88-69-888", "tel:+380968869888"
              \- Александр
            %p
              почта
              %strong pin-shop@mail.ua
