div#left_column {
  margin-top: 34px;
}

li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


.orders-cart-sidebar .product-price {
  font-size: 16px;
  line-height: 25px;
}

.quantity {
  color: #333;
  font-size: 16px;
  font-weight: normal;
}

.quantity-cross {
  color: #333;
  font-size: 13px;
}

.best-sell li:last-child {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
}

.total-cart {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.edit-link {
  border-bottom: 1px dashed;
}

.question-box {
  margin: 20px 0;
}

.question-box button {
  padding-bottom: 10px;
}