= content_for :title do
  = @category.name
  купить Украина
.columns-container
  #columns.container
    / breadcrumb
    - breadcrumb :category, @category
    .row
      = render 'sidebar'
      / Center colunm
      #center_column.center_column.col-xs-12.col-sm-9
        = render 'products_list'